[submodule "backend"]
	path = backend
	url = https://github.com/Bill-GD/topix-backend.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/Bill-GD/topix-frontend.git
	branch = main
